@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&display=swap');

/* Global Styles */

body {
    font-family: "Roboto";
}

.card {
    background-color: cadetblue;
}

.card h5 {
    font-family: "Rubik Vinyl";
    color: black;
}

.fudge-div {
    border-radius: 50%;
    padding: 6rem;
    background-color: white;
}